body{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    outline: 0;
    
    
}
.pipe{
    width: 4%;
    padding-top: 31.9%;
    position: absolute;
    animation: pipe-animation 2s infinite linear ;
    transition: right 1s linear;
    transition-duration: 2s;
    right: -25em;
    
    
}

.cloud{
    width: 20%;
    right: 20%;
    padding-bottom: 28%;
    position: absolute;    
}

.cloud2{
    width: 20%;
    right: 20%;
    padding-top: 22%;
    padding-right: 20em;
    position: absolute;
    
}

.cloud3{
    width: 20%;
    right: 20%;
    padding-top: 5%;
    padding-right: 69em;
    position: absolute;

}

.mario{
    width: 7%;
    left: 1%;
    position: absolute;
    bottom: 27%;  

}
.background{
    width: 100%;
    height: 60em;
    padding-top: 0.2em;
       
}
.jump{
    animation: marioanimations 400ms ease-out;
    
}

.restart{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8em;
    left: 65em;
    color: rgb(0, 0, 0);
}

@keyframes pipe-animation{
    from{
        right: 0;
    }

    to{
        right: 100%;
    }
}

@keyframes marioanimations{
    0%{
       bottom: 271px;
    }
   
    40%{
        bottom: 500px;
    }

    50%{
        bottom: 500px;
   }
   60%{
    bottom: 500px;
       }
       70%{
        bottom: 470px;
       }

    100%{
        bottom: 271px;
        }
       }
    @media(max-width: 1300px){
        .corpo{
            width: 1200px;
        }
    }
    @media(max-heigth: 1100px){
        .corpo{
            height: 1000px;
        }
    }
    @media(max-width: 1500px){
        .corpo{
            width: 1300px;
        }
    }
    @media(max-heigth: 1100){
        .corpo{
            height: 1000px;
        }
    }
    @media(max-width: 1400px){
        .corpo{
            width: 1200px;
        }
    }
    @media(max-heigth: 900){
        .corpo{
            height: 700px;
        }
    }